<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.user.mapper.UserroleMapper">
  <resultMap id="BaseResultMap" type="com.hd.user.domain.Userrole">
    <id column="userRoleId" jdbcType="INTEGER" property="userroleid" />
    <result column="userId" jdbcType="BIGINT" property="userid" />
    <result column="roleId" jdbcType="INTEGER" property="roleid" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="refreshTime" jdbcType="TIMESTAMP" property="refreshtime" />
  </resultMap>
  <sql id="Base_Column_List">
    userRoleId, userId, roleId, `state`, createTime, refreshTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userrole
    where userRoleId = #{userroleid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from userrole
    where userRoleId = #{userroleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="userRoleId" keyProperty="userroleid" parameterType="com.hd.user.domain.Userrole" useGeneratedKeys="true">
    insert into userrole (userId, roleId, `state`, 
      createTime, refreshTime)
    values (#{userid,jdbcType=BIGINT}, #{roleid,jdbcType=INTEGER}, #{state,jdbcType=CHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{refreshtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="userRoleId" keyProperty="userroleid" parameterType="com.hd.user.domain.Userrole" useGeneratedKeys="true">
    insert into userrole
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="roleid != null">
        roleId,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="refreshtime != null">
        refreshTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="refreshtime != null">
        #{refreshtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hd.user.domain.Userrole">
    update userrole
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="roleid != null">
        roleId = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="refreshtime != null">
        refreshTime = #{refreshtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where userRoleId = #{userroleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hd.user.domain.Userrole">
    update userrole
    set userId = #{userid,jdbcType=BIGINT},
      roleId = #{roleid,jdbcType=INTEGER},
      `state` = #{state,jdbcType=CHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      refreshTime = #{refreshtime,jdbcType=TIMESTAMP}
    where userRoleId = #{userroleid,jdbcType=INTEGER}
  </update>
</mapper>